$purple-800: #721146;
$purple-400: #72112d;
$purple-200: #701f38;
$purple-100: #951f34;


$yellow-800: #726146;
$yellow-400: #72612d;
$yellow-200: #706f38;
$yellow-100: #956f34;

$blue-800: #125146;
$blue-400: #12612d;
$blue-200: #127f38;
$blue-100: #128f34;


$image_max_width: 450px;
$image_max_height: 450px;
